- show specific added properties for each broker
- update property
- export properties as JSON from the db
- ensure all promised functionalities are covered
- add if statement at the top to display the pages only if logged in